<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<!--{{q}}-->
<!--question *-->
{{q.question}}
{{q.tag}}
<!--вопрос *-->
<!--{{q.вопрос}}-->

<!--<button><a href="http://127.0.0.1:8000/">next</a></button>-->
<!--<button><a href="http://127.0.0.1:8000/">next</a></button>-->
<!--<button><a href=" urls test ">next</a></button>-->
<!--<button href="http://127.0.0.1:8000/">next</button>-->
<button onclick="location.reload();">next</button>
<!--<a href="#" onclick="location.reload(); alert('ok'); return false;">Обновить страницу</a>-->


</body>
</html>